<ol class = "post-list">
    <!-- #each begins loop -->
    <!-- any code between <li> tags will be repeated for every item in posts -->
    {{#each posts as |post|}}
    <li>
        {{> post-info post}}
    </li>
    <!-- /each ends loop -->
    {{/each}}
</ol>